<div class="row marg-top">
    <div class="col-sm-5">left</div>
    <div class="col-sm-7">
        {{#each types:i}}
        <div class="panel panel-primary">
            <div class="panel-heading ">{{headings[i]}}</div>

            <div class="panel-body">
               <form>
                {{#each types[i]:r}}

                <label class="checkbox-inline" for="option.{{i}}.{{r}}">
                    <input type="{{headings[i]=='Size'?'radio':'checkbox'}}" id="option.{{i}}.{{r}}" name="group{{i}}"  class="option-input radio"> {{types[i][r]}}</label>

                {{/each}}
                </form>
            </div>
        </div>
        {{/each}}
    </div>
</div>