<div class="row marg-top">
    <div class="col-sm-12 col-md-5 col-lg-4">
        <h2 class="page-header">Pizza</h2>
        <div id="pizza">
            {{#with svg}}
            <svg>

                <g id="crustAndShadow">

                    <title>{{ types[0][ (currentChoices || [[true]])[0].indexOf(true) || 0 ] }} Pizza {{'with '+toppingsSelected.join(" , ")}}</title>

                    <desc>This handles the outer crust of the pizza and it's shadow</desc>

                    {{#if radius==0}}

                    <text x="5%" y="50%"> Select a size to continue! </text>

                    {{else}}

                    <ellipse cx="50%" cy="{{50+radius}}%" rx="{{radius*5/6}}%" ry="{{radius/3}}" />

                    <circle r="{{radius}}%" cx="50%" cy="50%" /> {{/if}}

                </g>
                {{#each toppingsSelected:i}} {{#if toppingsSelected[i] in toppingsSVG}}
                <g id="{{toppingsSelected[i]}}">{{{toppingsSVG[toppingsSelected[i]]}}}</g>
                {{/if}} {{/each}}

            </svg>
            {{/with}}
        </div>
    </div>
    <div class="col-sm-12 col-md-7 col-lg-8">
        {{#each types:i}}
        <div class="panel panel-primary">
            <div class="panel-heading ">{{headings[i]}}</div>

            <div class="panel-body">
                <form class="flexer">
                    {{#each types[i]:r}}

                    <label class="checkbox-inline" for="option.{{i}}.{{r}}">
                        <input type="{{headings[i]=='Size'?'radio':'checkbox'}}" id="option.{{i+'.'+r}}" name="group{{i}}" checked="{{currentChoices[i][r]}}" class="option-input">
                        <span>{{types[i][r]}}</span>
                    </label>

                    {{/each}}
                </form>
            </div>
        </div>
        {{/each}}
    </div>
</div>

<div class="row">
    <div class="col-lg-4 pull-right">
        <button class="btn btn-default btn-lg pull-right" on-click="staged"><span class="glyphicon glyphicon-shopping-cart"></span> Checkout</button>
    </div>
</div>