<div class="modal fade" id="{{id}}" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3 class="modal-title">{{title}}</h3>
            </div>
            <div class="modal-body" id="modal">
                {{>content}}
            </div>
            <div class="modal-footer">
                {{#if footer}}
                {{{footer}}}
                {{else}}
                <button type="button" class="btn btn-default" data-dismiss="modal" on-click="close">Close</button>
                {{/if}}
            </div>
        </div>
    </div>
</div>