<div class="page-header">
    <h1>{{itemType}} Quick Menu Order Editor Page</h1>
    <p>This controls what items will apppear on the quick order menu. Click the button that says "Add Specific {{itemType}}" to make an item of type:{{itemType}}</p>
</div>

<Table table="{{'quickOrders'+itemType}}"/>

<button on-click="buildMe" class="btn btn-default">Add Specific {{itemType}}</button>

<Modal id="quickOrder{{itemType}}" title="{{itemType}} Builder">
                <Builder labels="{{itemType.charAt(0).toLowerCase()+itemType.slice(1)}}Headings" />
</Modal>