<div class="panel panel-primary marg-top">
    <div class="panel-heading">
        <h3 class="text-capitalize">"{{table}}" Table</h3>
        {{#if description}}
            <small>{{description}}</small>
        {{/if}}
    </div>
<div class="table-responsive">
    <table class="table table-striped table-bordered table-hover table-fixed">
        <thead>
            <tr>
                {{#each rows:i}}
                <th class="text-center text-capitalize">{{rows[i]}}</th>
                {{/each}}
                <th class="text-center">Delete?</th>
            </tr>
        </thead>
        <tbody class="text-center">
            {{#each data:r}}
            <tr>
                {{#each data[r]:c}}
                <td on-click="edit" tabindex="{{(r*data[r].length)+c+1}}" {{editing.notAllowed[c]==false? 'contentEditable="true" class="text-capitalize mousetrap"': 'class="noEdit text-capitalize"'}}>{{data[r][c]}}</td>
                {{/each}} {{#if (editing.cur!==r)}}
                <td on-click="delete">
                    <span class="glyphicon glyphicon-remove table-remove center"></span>
                </td>
                {{else}}
                <td on-click="save">
                    <div class="btn-group">
                        <button class="btn btn-default table-save center" role="button"><span class="glyphicon glyphicon-floppy-saved"></span> Save</button>
                        <button on-click="revert" class=" btn btn-default table-revert center" role="button"><span class="glyphicon glyphicon-repeat"></span> Revert</button>
                    </div>
                </td>
                {{/if}}

            </tr>
            {{/each}}
        </tbody>
        <tfoot>
            <tr>
                {{#each rows:i}}
                <th class="text-center">
                        <div class="input-group">
                            <label for="inp{{i}}" class="input-group-addon" id="label{{i}}">{{rows[i]}}: </label>
                            <input type="text" value="{{add[i]}}" tabindex="{{(data[0].length*data.length)+i+1}}" id="inp{{i}}" class="form-control" aria-describedby="label{{i}}" required />
                        </div>
                </th>
                {{/each}}
                <th class="text-center">
                    <button class="btn btn-default table-save center" role="button" on-click="add" tabindex="{{data[0].length*(data.length+1)+1}}"><span class="glyphicon glyphicon-floppy-saved"></span> Add</button>
                </th>
            </tr>
        </tfoot>
    </table>
</div>
</div>