<div class="row marg-top">
    <div class="col-lg-4 pull-right">
        <button class="btn btn-default btn-lg pull-right" on-click="show" data-target="#orders"><span class="glyphicon glyphicon-shopping-cart"></span> Cart</button>
    </div>
</div>

    <div class="row no-gutter">
        
        {{#each type:cur}}
          
           {{#if type[cur]}}

                {{#if cur%2==0 || (12/cols)-1==cur}}
                    <div class="clearfix {{ ( cols == 2 ||( 12/cols ) - 1 == cur ) && cols !== 4 ? 'visible-lg' : '' }} visible-md">
                {{/if}}
               
                <div class="col-lg-{{12/cols}} col-md-6">
                   
                    <div class="page-header">
                       
                        <h1 class="text-capitalize text-center">{{type[cur].name}}</h1>
                        
                    </div>
                    
                    {{#if type[cur].buildYourOwn}}
                       
                        <h3>
                            <a on-click="build" class="text-center text-capitalize">Make Your Own:</a>
                        </h3>
                        
                    {{/if}}
                      
                       <div class="row">
                       
                            {{#each type[cur].quickOrders:q}}

                                <div class="col-lg-{{cols*2}} col-md-{{cols*2}} col-sm-{{12/cols}} col-xs-6">

                                    <button type="button" class="btn btn-default btn-block marg-top {{this.isUnavailable?'disabled':''}}" on-click="{{this.isUnavailable?'':'order'}}">

                                        {{#if this.image}}

                                            <img src="images/{{this.image}}" title="{{this.Name}}" alt="{{this.Name}} Logo, Click to order">

                                        {{else}}

                                            {{this.Name}}

                                        {{/if}}

                                    </button>

                                </div>

                            {{/each}}
                        
                        </div>
                    
                </div>
                
            {{/if}}
            
       {{/each}}
       
    </div>


<div class="modal fade" id="moduler" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3 class="modal-title">Builder</h3>
            </div>
            <div class="modal-body" id="modal">
                <Builder labels="{{cur}}Headings" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="orders" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3 class="modal-title">Current Orders:</h3>
            </div>
            <div class="modal-body">
               {{#if queue.length>0}}
                    <table class="table table-striped table-bordered table-hover table-fixed">
                       <thead>
                            <tr>
                                <th class="text-center text-capitalize">Order Name</th>
                                <th class="text-center text-capitalize">Price</th>
                                <th class="text-center text-capitalize">Delete?</th>
                            </tr>
                        </thead>
                        
                        <tbody class="text-center">
                            {{#each queue:i}}
                            <tr>
                                <td>{{queue[i].Name}}</td>
                                <td>{{queue[i].Price}}</td>
                                <td>
                                    <button class="btn btn-default table-remove" on-click="rmvqueue"><span class="glyphicon glyphicon-remove"></span>Delete</button>
                                </td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                {{else}}
                    <h4>No Orders in the Cart.</h4>
                {{/if}}
            </div>
            <div class="modal-footer">
               {{#if queue.length>0}}
                <button type="button" class="btn btn-default" on-click="checkout">Order</button>
                {{/if}}
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>