{{#each (Array(Math.ceil(type.length/cols))):i}}
    <div class="row">
        
        {{#each Array(cols):cur}}
          
           {{#if type[(cur+(i*cols))]}}
               
                <div class="col-lg-{{12/cols}}">
                   
                    <div class="page-header">
                       
                        <h1 class="text-capitalize text-center">{{type[(cur+(i*cols))].name}}</h1>
                        
                    </div>
                    
                    {{#if type[(cur+(i*cols))].buildYourOwn}}
                    <h2><a onclick="build" class="text-center text-capitalize">Build Your Own:</a></h2>
                    {{/if}}
                      
                       <div class="row">
                        {{#each type[(cur+(i*cols))].quickOrders:q}}
                            <div class="col-lg-{{12/(cols+1)}}">
                                <button type="button" class="btn btn-default btn-block">
                                    {{#if type[(cur+(i*cols))].images}}
                                        <img src="images/{{type[(cur+(i*cols))].images[q]}}">
                                    {{else}}
                                    {{type[(cur+(i*cols))].quickOrders[q]}}
                                    {{/if}}
                                </button>
                            </div>
                        {{/each}}
                        </div>
                    
                </div>
                
            {{/if}}
            
       {{/each}}
       
    </div>

{{/each}}