{{#each (Array(Math.ceil(type.length/cols))):i}}
    <div class="row">
        
        {{#each Array(cols):cur}}
          
           {{#if type[(cur+(i*cols))]}}
               
                <div class="col-lg-{{12/cols}}">
                   
                    <div class="page-header">
                       
                        <h1 class="text-capitalize text-center">{{type[(cur+(i*cols))].name}}</h1>
                        
                    </div>
                    
                    
                    <h2>Quick Order :</h2>
                    
                    <div class="row">
                       
                        {{#each type[(cur+(i*cols))].quickOrders:q}}
                            {{type[(cur+(i*cols))].quickOrders[q]}}
                        {{/each}}
                        
                    </div>
                    
                </div>
                
            {{/if}}
            
       {{/each}}
       
    </div>

{{/each}}