<IfModule mod_rewrite.c>
Header always set Access-Control-Allow-Methods "GET, POST, OPTIONS, PUT, ADD, LOGIN, DELETE, LOGOUT"
RewriteEngine On                
RewriteCond %{REQUEST_METHOD} OPTIONS 
RewriteRule ^(.*)$ blank.php [QSA,L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^((?s).*)$ api.php/$1 [QSA,L]
</IfModule>