$darkColor:rgb(46, 41, 40);
.ractive-datepicker.dark {
    background: $darkColor;
    color: lighten($darkColor,70%);
    text-align: center;
    .header {
        background: darken($darkColor,8%);
        border-bottom: none;
    }
    .active:after {
        border-right-color: $darkColor;
    }
    .dates .active {
        background: #6097EC;
    }
    .days {
        color: lighten($darkColor,70%);
    }
    .editor {
        .years:after {
            background: linear-gradient($darkColor, rgba(60, 60, 60, 0), $darkColor);
        }
        .clock:after {
            background: linear-gradient($darkColor, rgba(60, 60, 60, 0), $darkColor);
        }
    }
}

.ractive-datepicker.light {
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    color: #333;
    text-align: center;
    .header {
        background: #f0f0f0;
        border-bottom: none;
        text-align: right;
        background: transparent;
        color: grey;
        .active {
            color: #000;
            font-weight: bold;
            &:after {
                border: 5px solid transparent;
                border-left-color: #000;
                margin-top: -2.5px;
            }
        }
        .dates .active {
            background: #A70072;
        }
    }
}