$icon-font-path: "../bower_components/bootstrap-sass/assets/fonts/bootstrap/";
$brand-primary:#456;
// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower
@import "svg.scss";
@import "_mixins.scss";

.center {
    text-align: center;
    margin: 0 auto;
    display: block;
}

.text-center {
    text-align: center;
}

.table-remove {
    color: #700;
}

.table-save {
    color: #070;
}

.table-revert {
    color: #700;
}

.table-remove,
.table-save,
.table-revert {
    cursor: pointer;
    &:hover {
        color: #f00;
    }
}

.noEdit {
    cursor: not-allowed;
    background: #EEE;
}

.marg-top {
    margin-top: 20px;
}

.glyphicon-refresh-animate {
    animation: spin .7s infinite linear;
}

@keyframes spin {
    from {
        transform: scale(1) rotate(0deg);
    }
    to {
        transform: scale(1) rotate(360deg);
    }
}

@keyframes halfspin {
    from {
        transform: scale(0.1) rotate(-180deg);
    }
    to {
        transform: scale(1) rotate(0deg);
    }
}

body {
    padding-top: 20px;
    padding-bottom: 20px;
}


/* Everything but the jumbotron gets side spacing for mobile first views */

.header,
.marketing,
footer {
    padding-left: 15px;
    padding-right: 15px;
}

footer {
    clear: both;
    padding-top: 20px;
}

footer p {
    text-align: center;
}


/* Custom page header */

.header {
    border-bottom: 1px solid #e5e5e5;
    /* Make the masthead heading the same height as the navigation */
    h3 {
        margin-top: 0;
        margin-bottom: 0;
        line-height: 40px;
        padding-bottom: 19px;
    }
}


/* Custom page footer */

.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
    margin: 30px 0;
}

.alert-minimalist {
    border-color: rgba(149, 149, 149, 0.3);
    background-color: #FFF;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    border-radius: 3px;
    color: #666;
    padding: 10px;
    &.alert-minimalist-error {
        @extend .alert-danger;
    }
}

.alert-minimalist > [data-notify="icon"] {
    height: 50px;
    margin-right: 12px;
}

.alert-minimalist > [data-notify="title"] {
    color: rgb(51, 51, 51);
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.alert-minimalist > [data-notify="message"] {}

.underline {
    text-decoration: underline;
}

.no-gutter {
    .row {
        margin-left: 0;
        margin-right: 0;
    }
    > [class*='col-'] {
        padding-right: 0;
        padding-left: 0;
    }
}

.checkbox-inline {
    padding: 0 !important;
    flex-basis: ((100/3)*1%);
    user-select: none;
    @include bp(med) {
        text-align: center;
    }
    @include bp(small) {
        flex-basis: ((100/2)*1%);
        text-align: center;
    }
    & + .checkbox-inline {
        margin-left: 0 !important;
    }
    span {
        position: relative;
        top: -19px;
        padding: 10px 0;
        @include bp(med) {
            top: 0;
            display: block;
        }
    }
}

.option-input {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    position: relative;
    width: 40px;
    height: 40px;
    transition: all 0.15s ease-out 0;
    background: #cbd1d8;
    border: none;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    outline: none !important;
    position: relative !important;
    margin: 4px 0 !important;
    z-index: 1000;
    &:checked {
        background: $brand-primary;
        &::before {
            width: 40px;
            height: 40px;
            position: absolute;
            content: '\002B';
            display: inline-block;
            font-size: 35px;
            text-align: center;
            line-height: 40px;
            animation: halfspin .5s ease-out;
        }
        &::after {
            animation: click-wave 0.65s;
            background: $brand-primary;
            content: '';
            display: block;
            position: relative;
            z-index: 100;
            border-radius: 50%;
            pointer-events: none;
        }
    }
    &:hover {
        background: #9faab7;
    }
}

input[type="radio"] {
    border-radius: 50%;
    &.option-input:checked::before {
        content: "\2713" !important;
        font-size: 26.66667px !important;
    }
}

.flexer {
    display: flex;
    flex-wrap: wrap;
    align-items: space-around;
    @include bp(small) {
        justify-content: center;
    }
}

@keyframes click-wave {
    0% {
        width: 40px;
        height: 40px;
        opacity: 0.35;
        position: relative;
    }
    100% {
        width: 200px;
        height: 200px;
        margin-left: -80px;
        margin-top: -80px;
        opacity: 0.0;
    }
}