$icon-font-path: "../bower_components/bootstrap-sass/assets/fonts/bootstrap/";

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower
.center{
  text-align:center;
  margin:0 auto;
  display:block;
}
.text-center{
  text-align:center;
}
.table-remove {
  color: #700;
}
.table-save{
  color:#070;
}
.table-revert{
    color:#700;
}
.table-remove, .table-save,.table-revert{
  cursor: pointer;
  
  &:hover {
    color: #f00;
  }
}
.noEdit{
    cursor: not-allowed;
    background: #EEE;
}
.missing{
    border:2px solid #F00;
}
.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

body {
    padding-top: 20px;
    padding-bottom: 20px;
}
/* Everything but the jumbotron gets side spacing for mobile first views */

.header, .marketing, footer {
    padding-left: 15px;
    padding-right: 15px;
}
footer {
    clear: both;
    padding-top: 20px;
}
footer p {
    text-align: center;
}
/* Custom page header */

.header {
    border-bottom: 1px solid #e5e5e5;
    /* Make the masthead heading the same height as the navigation */
    
    h3 {
        margin-top: 0;
        margin-bottom: 0;
        line-height: 40px;
        padding-bottom: 19px;
    }
}
/* Custom page footer */

.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}
.container-narrow > hr {
    margin: 30px 0;
}