$pizzaFill:#f7c740;
$pizzaBorder:#000;
$pizzaShadow:#CCC;
$animationSpeed:1.75s;
@import "mixins.scss";
@import "bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss";
#pizza {
    display: flex;
    flex-direction: column;
    width: 100%;
    @include bp(med){
        width:50%;
        margin:10px auto;
    }
    align-items: stretch;
    align-content: stretch;
    @include aspect-ratio(svg,1,1);
    
    svg {
        height: 100%;
        width: 100%;
        
        #crustAndShadow {
            circle {
                animation: slight-bounce infinite alternate $animationSpeed ease-in;
                fill: $pizzaFill;
                stroke: $pizzaBorder;
                stroke-width: 4;
            }
            ellipse {
                fill: $pizzaShadow;
                transform-origin: 0 50%;
                animation: slight-grow infinite alternate $animationSpeed ease-in;
                animation-delay: $animationSpeed/2;
            }
            text {
                fill: $gray;
                font-size: $font-size-h3;
            }
        }
    }
}

@keyframes slight-bounce {
    0% {
        transform: translate(0px, -15px);
    }
    100% {
        transform: translate(0px, 0px);
    }
}

@keyframes slight-grow {
    $scale: 13;
    0% {
        transform: scaleX(1) translate(0%, 0px);
    }
    100% {
        transform: scaleX((1+($scale/100))) translate(((-$scale)/2)*1%, 0px);
    }
}
